/** {
  border: 1px solid red;
}

body {
  margin: 0;
}*/


ul, a {
  text-decoration: none;
}

li {
  display: inline;
}

.contain {
  width: 80%;
  margin: 0 auto;
}

              /*============== Header ================*/

.header {
  background: url("images/header.jpg");
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.header-color {
  background-color: #1475BF;
  background-color:rgba(20, 117, 191, .8);
  height: 523px;
  -webkit-transition: all .3s ease-in ;
}

.header-color:hover {
  background: none;
}

.main-heading {
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 6.3em;
  padding-top: 28px;
  letter-spacing: -2px;
  text-shadow: 0 2px 2px #18588C;
}

.main-underline {
  font-weight: normal;
  text-align: center;
  color: #07324F;
  font-size: .9em;
  margin-top: -84px;
  margin-right: 5px; 
  word-spacing: 1px;
}

/*==== left nav ====*/

.left-nav {
  display: inline-block;
  margin-left: -32px;
}

.left-nav-text {
  margin: 5px 0 0 6px;
  float: right;
  color: #07324F;
}

.logo-img {
  position: relative;
  top: -10px;
}

/*==== right nav ====*/

.right-nav {
  float: right;
  margin-right: 31px;
  margin-top: -4px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.right-nav-text {
  margin-left: 10px;
  font-size: 1.1em;
  letter-spacing: -1px;
  color: #07324F;
}

.right-nav-hover:hover {
  color: #5698C4;
}

.search-img {
  position: relative;
  top: 5px;
  right: 1px;
}


            /*============= Body ==============*/

.marg-left-body {
  margin-left: 34px;
}

.marg-right-body {
  margin-left: 55px;
}

/*====Left Side ====*/

.left-content {
  width: 62%;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.body-heading {
  color: #083452;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3.9em;
  line-height: 70px;
  margin-top: 63px;
  margin-bottom: 6px;
}

.body-heading-span-1 {
  position:relative;
  left: -6px;
}

.body-heading-span-2 {
  position: relative;
  left: 3px;
}

.left-img-face {/* Link */
  display: inline-block;
  border-radius: 50%;
  height: 22px; 
  width: 22px;    
  background: url("images/face.jpeg");
  background-size: 22px 22px;         
  margin-left: 4px;
}

.left-img-face-color {
  background-color: #1475BF;
  background-color:rgba(20, 117, 191, .6);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in ;
}

.left-img-face-color:hover {
  background: none;
}

.left-name {
  color: #106DB3;
  font-size: .8em;
  position: relative;
  top: -4px;
  left: 3px;
  padding-right: 5px;
}

.left-link {
  font-size: .8em;
  position: relative;
  top: -3px;
  color: #A3B3BF;
}

.left-link-date {
  border-bottom: 1px solid #A3B3BF;  
  margin-left: -2px;
}/* Link */

.body-text {/* Body Text */
  color: #5E686F;
  margin-top: 31px;
  margin-bottom: -5px;
  font-size: 1em;
  line-height: 26px;
}

.mix-tape {
  text-decoration: underline;
  color: #A3B3BF;
}

.woah-line {
  height: 57px;
  margin-left: 6px;
  border-left: 2px solid #D3D3D3;
  margin-bottom: -3px;
}

.woah {
  padding-top: 14px;
  margin-left: 15px;
  font-weight: normal;
  font-size: 1.7em;
  text-transform: uppercase;
  color: #106DB3;
}

.rollover {
  text-decoration: underline;
  color: #106DB3;
}/* Body Text */

.body-btn {
  height: 30px;
  margin: 23px 4px 0 2px;
  background: #A3B3BF;
  display: inline-block;
}

.body-btn:hover {
  background-color: #106DB3;
  -webkit-transition: all .3s ease-in ;
}

.body-btn:hover > .btn-left {
  background-color: #083452;
  -webkit-transition: all .3s ease-in ;
}

.btn-1 {
  width: 158px;
}

.btn-2 {
  width: 128px;
  position: relative;
  top: -3px;
}

.btn-3 {
  width: 153px;
  position: relative;
  top: 1px;
}

.btn-left {
  width: 33px;
  height: 30px;
  background: #5E686F;
  display: inline-block;
}

.btn-left-2 {
  position: relative;
  top: -1px;
}

.btn-img {
  margin: 4px 0 0 3px;
}

.btn-img-3 {
  position: relative;
  top: -2px;
  left: -2px;
}

.btn-text {
  display: inline-block;
  font-size: .8em;
  color: #fff;
  font-weight: lighter;
  word-spacing: 1px;
  position: relative;
  left: 7px;
  bottom: 10px;
}

.btn-text-2 {
  position: relative;
  top: -6px;
}


/*==== Right Side ====*/

.right-content {
  width: 35%;
  margin-top: 82px;
  float: right;
}

.right-img-face {
  border-radius: 50px;
  height: 85px;
  width: 85px;
  background: url("images/face.jpeg");
  background-size: 85px 85px;
  margin: 0 0 14px 97px;
 
}

.right-img-face-color { 
  background-color: #1475BF;
  background-color:rgba(20, 117, 191, .6);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in ;
}

.right-img-face-color:hover {
  background: none;
} 

.right-name {
  color: #106DB3;
  text-transform: uppercase;
  margin-left: 75px;
  display: block;
  margin-bottom: 3px;
}

.right-social-links {
  color: #F9F9F9;
  margin-top: 0;
}

.social-links {
  color: #A3B3BF;
  font-size: .8em;
  margin: 0 5px; 
}

.social-links:hover {
  color: #106DB3;
}/* Social */

.right-ad-img {/* Ad */
  background: url("images/ad.jpg");
  width: 279px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 7px;
}

.right-ad-img-color {
  background-color: #1475BF;
  background-color:rgba(20, 117, 191, .6);
  height: 300px;
  -webkit-transition: all .3s ease-in ;
}

.right-ad-img-color:hover {
  background: none;
}

.ad-link {
  color: #A3B3BF;
  font-size: .85em;
  text-decoration: underline;
  margin: 13px 0 100px 193px;
}/* Ad */

.right-body-heading {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #106DB3;
  font-size: 1.1em;
  letter-spacing: -1px;
  margin-top: 44px;
  margin-bottom: -10px;
}

.right-p {
  color: #A3B3BF;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: .8em;
  margin-right: 40px;
}

          
              /*============= Posts ===============*/


.posts {
  width: 100%;
  border-top: 1px solid #E1E7EA;
  margin-top: 65px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #083452;
}

.post-header {
  text-align: center;
  font-size: 3.8em;
  margin-top: 25px;
  margin-bottom: 30px;
}

.post-box {
  width: 25%;
  height: 330px;
  float: left;
  position: relative;
  color: #083452;
}

.post-1 {
  background: url("images/post1.jpg");
}

.post-2 {
  background: url("images/post2.jpg");  
}

.post-3 {
 background: url("images/post3.jpg");
}

.post-4 {
  background: url("images/post4.jpg"); 
}

.post-color {
  background-color: #1475BF;
  background-color:rgba(20, 117, 191, .8);
  height: 330px;
  -webkit-transition: all .5s ease-in ;
}

.post-color:hover {
 color: #fff;
 background: none; 
}

.post-text {
  font-size: 1.8em;
  font-weight: lighter;
  margin-left: 20px;
  position: absolute;
  bottom: -15px;
  line-height: 40px;
}

               /*============= Footer ===============*/

.footer {
  width: 100%;
  height: 430px;
  background: #083452;
  font-size: .82em;
  color: #A3B3BF;
}

.footer-logo {
  position: relative;
  top: 14px;
  left: -13px;
}

.iron-copy {
  position: relative;
  top: -10px;
  left: -10px;
  word-spacing: 1px;
}

.footer-nav {
  display: inline-block;
  float: right;
  margin: 41px 27px 0 0;
}

.footer-links {
  color: #A3B3BF;
  margin: 0 7px;
}

.footer-links:hover {
  color: #fff;
}








